<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
</head>
<body>
    <a href="https://www.fortify247.net/"><img src="/static/base64.png" class="fortifylogo"></a>
    <div class="message-box">
        <div class="messages">
            <!--Space for messages to sit-->
        </div>
        <div class="entry-box">
            <input class="entry" placeholder="Enter your prompt">
            <button class="send-button" onclick="SendMessage()">Send</button>
        </div>
    </div>
    <script src="{{url_for('static', filename='chat.js')}}"></script>
</body>
</html>